{
    "mcpServers": {
        "unreal-python": {
            "command": "uv",
            "args": ["--directory", "D:\\UnrealProjects\\unreal-python-mcp", "run", "unreal-python-mcp"]
            "env": {
                "UNREAL_PYTHON_CUSTOM_MODULES": ""
            }
        }
    }
}